@charset "UTF-8";

$pc: 1280px;//PC
$im: 660px;//ブレークポイント

$pcw:(100vw/1280);
$spw:(100vw/375);

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin im {
  @media (max-width: ($im)) {
    @content;
  }
}

@font-face {
  font-family: "objective-Bold";
  src: url(fonts/objective-Bold/objective-Bold.otf) format("otf"),
       url(fonts/objective-Bold/objective-Bold.ttf) format("woff2");
}
@font-face {
  font-family: "objective-Regular";
  src: url(fonts/objective-Regular/objective-Regular.otf) format("otf"),
       url(fonts/objective-Regular/objective-Regular.ttf) format("woff2");
}
@font-face {
  font-family: "objective-BoldItalic";
  src: url(fonts/Objective-BoldItalic/Objective-BoldItalic.otf) format("otf"),
       url(fonts/Objective-BoldItalic/Objective-BoldItalic.ttf) format("woff2");
}

*, *::before, *::after{
  box-sizing: border-box;
}

.body{
  font-size: 16*$pcw;
  font-family:"Noto Sans JP",monospace,sans-serif;
  .header{
    position: relative;
    height: 790*$pcw;
    .logo{
      position: absolute;
      font-size: 42*$pcw;
      color: #fff;
      top: 36*$pcw;
      left: 36*$pcw;
      font-family: objective-Regular;
      font-weight: bold;
      @include im{
        font-size: 18*$spw;
      }
    }
    .movie{
      width: 1280*$pcw;
      height: 578*$pcw;
    }
    .main-title{
      position: absolute;
      top: 390*$pcw;
      left:127*$pcw;
      font-size: 180*$pcw;
      color: #7AD6BB;
      font-family: objective-Regular;
      font-weight: bold;
      // font-style: italic;
      @include im{
        font-size: 54*$spw;
      }
    }
  }
  .greeting{
    padding: 261*$pcw 279*$pcw 277*$pcw;
    @include im{
      padding: 60*$spw 20*$spw;
    }
    &-content{
      .name{
        font-size: 32*$pcw;
        text-align: center;
        font-weight: bold;
        @include im{
          font-size: 20*$spw;
        }
      }
      &-info{
        margin-top: 41*$pcw;
        font-size: 24*$pcw;
        color: #454545;
        line-height: 2;
        @include im{
          font-size: 14*$spw;
          margin-top: 25*$spw;
        }
      }
    }
  }
  .skill{
    background-color: #F2F2F2;
    position: relative;
    padding: 164*$pcw 0 372*$pcw;
    z-index: -1;
    @include im{
      padding: 40*$spw 0 150*$spw;
    }
    &-side{
      position: absolute;
      left: -560*$pcw;
      top:570*$pcw;
      width: 100%;
      .portfolio{
        transform: translate(-100%, -100%);
        bottom:0;
        font-size: 300*$pcw;
        transform: rotate(90deg);
        color: #fff;
        font-family: objective-Regular;
        font-weight: bold;
      }
    }
    .title{
      text-align: center;
      font-family: objective-Regular;
      font-weight: bold;
      &-p{
        font-size: 60*$pcw;
        position: relative;
        display: inline-block;
        @include im{
          font-size: 35*$spw
        }
        &::after{
          content: "Skills";
          position: absolute;
          top: -4*$pcw;
          left: 5*$pcw;
          color: #F2F2F2;
          text-shadow:1px 1px 0 #7AD6BB,-1px 1px 0 #7AD6BB,1px -1px 0 #7AD6BB,-1px -1px 0 #7AD6BB;
          z-index: -1;
        }
      }
      @include im{
        font-size: 36*$spw;
      }
    }
    //一個目の緑の箱
    &::before{
      content: '';
      position: absolute;
      display: block;
      top: 340*$pcw;
      width:837*$pcw;
      height:452*$pcw;
      background-color: #7AD6BB;
      z-index: -1;
      @include im{
        display: none
      }
    }
    //２個目の緑の箱
    &::after{
      content: '';
      position: absolute;
      display: block;
      top: 1181*$pcw;
      right: 0;
      width:837*$pcw;
      height:452*$pcw;
      background-color: #7AD6BB;
      z-index: -1;
      @include im{
        display: none;
      }
    }
    .box1{
      margin: 212*$pcw 128*$pcw 0;
      .coding{
          margin-left: 153*$pcw;
        @include im{
          text-align: center;
          margin-left: auto;
        }
        p{
          display: inline-block;
          font-size: 32*$pcw;
          @include im{
            font-size: 16*$spw;
          }
        }
        .number{
          font-size: 100*$pcw;
          font-family: objective-Regular;
          font-weight: bold;
          margin: 0 25*$pcw 0 18*$pcw;
          @include im{
            font-size: 36*$spw;
            margin: 0 5*$spw;
          }
        }
        .ken{
          font-size: 20*$pcw;
          @include im{
            font-size: 16*$spw;
          }
        }
      }
      &-info{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-top: 89*$pcw;
        &-img{
          width: 500*$pcw;
          height: 100%;
          z-index: 1;
          @include im{
            width: 80%;
            margin: 0 auto
          }
        }
        &-p{
          font-size: 20*$pcw;
          width: 440*$pcw;
          line-height: 2;
          color: #454545;
          @include im{
            font-size: 11*$spw;
            width: 100%;
            top:0;
            left:200*$spw;
            margin-top: 25*$spw;
          }
        }
      }
    }
    .box2{
      margin: 330*$pcw 128*$pcw 0;
      .design{
        text-align: right;
        @include im{
          text-align: center;
        }
        p{
          display: inline-block;
          font-size: 32*$pcw;
          @include im{
            font-size: 16*$spw;
          }
        }
        .number{
          font-size: 100*$pcw;
          font-family: objective-Regular;
          font-weight: bold;
          margin: 0 41*$pcw 0 62*$pcw;
          @include im{
            font-size: 36*$spw;
            margin: 0 5*$spw;
          }
        }
        .ken{
          font-size: 20*$pcw;
          @include im{
            font-size: 16*$spw;
          }
        }
      }
      &-info{
        margin-top: 89*$pcw;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        &-p{
          font-size: 20*$pcw;
          width: 440*$pcw;
          line-height: 2;
          color: #454545;
          @include im{
            font-size: 11*$spw;
            width: 100%;
            top:15*$spw;
            left:-120*$spw;
            margin-top: 25*$spw;
            order: 2;
          }
        }
        &-img{
          width: 500*$pcw;
          height: 100%;
          @include im{
            width: 80%;
            margin: 0 auto;
            order: 1;
          }
        }
      }
    }
   }
  .works{
    padding: 212*$pcw 0 96*$pcw;
    margin: auto 61*$pcw;
    border-left: 1*$pcw solid #454545;
    background-color: #fff;
    @include im{
      padding: 40*$spw 0 80*$spw;
      margin: auto 0;
      border-left: none;
    }
    .recent{
      text-align: center;
      font-size: 22*$pcw;
      color: #7AD6BB;
      font-family: objective-Regular;
      font-weight: bold;
      @include im{
        font-size: 16*$spw;
      }
    }
    .title{
      text-align: center;
      font-family: objective-Regular;
      font-weight: bold;
      margin-top: 29*$pcw;
      &-p{
        font-size: 60*$pcw;
        position: relative;
        display: inline-block;
        @include im{
          font-size: 35*$spw
        }
        &::after{
          content: "Works";
          position: absolute;
          top: -4*$pcw;
          left: 5*$pcw;
          color: #fff;
          text-shadow:1px 1px 0 #7AD6BB,-1px 1px 0 #7AD6BB,1px -1px 0 #7AD6BB,-1px -1px 0 #7AD6BB;
          z-index: -1;
        }
      }
      @include im{
        font-size: 36*$spw;
      }
    }
    .corpolate{
      margin: 96*$pcw auto 0;
      width: 1025*$pcw;
      &-site{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          display: block;
          top: 150*$pcw;
          left: -90*$pcw;
          width: 50*$pcw;
          height: 50*$pcw;
          border-radius: 50%;
          background-color: #7AD6BB;
          @include im{
            display: none;
          }
        }
        &::after{
          content: '';
          position: absolute;
          display: block;
          top: 166*$pcw;
          left: -74*$pcw;
          width: 18*$pcw;
          height: 18*$pcw;
          border-radius: 50%;
          background-color: #fff;
          @include im{
            display: none;
          }
        }
        &:nth-of-type(n+2){
          margin-top: 158*$pcw;
        }
        &-left{
          width: 497.25*$pcw;
          height: 340*$pcw;
          background-color: #DEDEDE;
          text-align: center;
          @include im{
            width: 243.6*$spw;
            height: 170*$spw;
            margin: 10*$spw auto;
          }
          &-p{
            font-size: 32*$pcw;
            margin-top: 150*$pcw;
            @include im{
              font-size: 24*$spw;
              margin-top: 70*$spw;
            }
          }
        }
        &-right{
          width: 500*$pcw;
          @include im{
            width: 355*$spw;
            margin-top: 30*$spw;
          }
          .date{
            font-size: 32*$pcw;
            @include im{
              font-size: 16*$spw;
            }
          }
          .info{
            font-size: 20*$pcw;
            line-height: 2;
            margin-top: 30*$pcw;
            @include im{
              font-size: 12*$spw;
            }
          }
        }
      }
    }
    .kokoro{
      width: 815*$pcw;
      margin: 122*$pcw auto 0;
      @include im{
        width: 335*$spw;
        margin-top: 100*$spw;
      }
      &-title{
        font-size: 32*$pcw;
        @include im{
          font-size: 16*$spw;
          text-align: center;
        }
      }
      &-info{
        font-size: 20*$pcw;
        line-height: 2;
        margin-top: 27*$pcw;
        @include im{
          margin-top: 20*$spw;
          font-size: 12*$spw;
        }
      }
    }
  }
  .public{
    height: 1979*$pcw;
    background-color: #F0F0F0;
    position: relative;
    @include im{
      height: 660*$spw;
    }
    .other{
      font-size: 32*$pcw;
      position: absolute;
      top: 214*$pcw;
      left: 443*$pcw;
      @include im{
        top: 25*$spw;
      }
      .number{
        font-size: 100*$pcw;
        margin-left: 26*$pcw;
        font-family: objective-Regular;
        font-weight: bold;
      }
      .ken{
        font-size: 20*$pcw;
      }
    }
    .ippai{
      font-size: 20*$pcw;
      position: absolute;
      top: 406*$pcw;
      left: 547*$pcw;
      width: 481*$pcw;
      height:181*$pcw;
      line-height: 2;
      color: #454545;
      @include im{
        font-size: 10*$spw;
        top: 70*$spw;
        left: 140*$spw;
        width: 180*$spw;
      }
    }
    .coffee{
      font-size: 32*$pcw;
      position: absolute;
      top: 1532*$pcw;
      left: 669*$pcw;
      @include im{
        top: 430*$spw;
      }
      .number{
        font-size: 100*$pcw;
        margin-left: 26*$pcw;
        font-family: objective-Regular;
        font-weight: bold;
      }
    }
    .hai{
      font-size: 32*$pcw;
      position: absolute;
      top: 1694*$pcw;
      left: 1072*$pcw;
      @include im{
        top: 460*$spw;
      }
    }
    .ippai2{
      position: absolute;
      top: 1690*$pcw;
      left: 442*$pcw;
      width: 573*$pcw;
      height: 85*$pcw;
      line-height: 2;
      color: #454545;
      @include im{
        font-size: 10*$spw;
        top: 485*$spw;
        left: 140*$spw;
        width: 180*$spw;
      }
    }
    .box{
      &::before{
        content: '';
        position: absolute;
        top: 592*$pcw;
        left: 207*$pcw;
        width: 525*$pcw;
        height: 313*$pcw;
        display: block;
        background-color: #7AD6BB;
      }
      &::after{
        content: '';
        position: absolute;
        top: 1330*$pcw;
        left: 442*$pcw;
        width: 525*$pcw;
        height: 313*$pcw;
        display: block;
        background-color: #7AD6BB;
      }
    }
    .camera_image{
      position: absolute;
      top: 407*$pcw;
      left: 25*$pcw;
      width: 417*$pcw;
      height: 278*$pcw;
      background-image: url(../img/camera.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .smapho_image{
      position: absolute;
      top: 642*$pcw;
      left: 792*$pcw;
      width: 360*$pcw;
      height: 255*$pcw;
      background-image: url(../img/smapho.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .year_image{
      position: absolute;
      top: 780*$pcw;
      left: 267*$pcw;
      width: 360*$pcw;
      height: 252*$pcw;
      background-image: url(../img/year.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .mac_image{
      position: absolute;
      top: 1047*$pcw;
      left: 687*$pcw;
      width: 360*$pcw;
      height: 252*$pcw;
      background-image: url(../img/mac.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .coffee_image{
      position: absolute;
      top: 1229*$pcw;
      left: 115*$pcw;
      width: 525*$pcw;
      height: 313*$pcw;
      background-image: url(../img/coffee.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .history{
    padding: 276*$pcw 0 163*$pcw;
    background-color: #fff;
    .title{
      text-align: center;
      font-family: objective-Regular;
      &-p{
        font-size: 60*$pcw;
        position: relative;
        display: inline-block;
        @include im{
          font-size: 35*$spw
        }
        &::after{
          content: "History";
          position: absolute;
          top: -4*$pcw;
          left: 5*$pcw;
          color: #fff;
          text-shadow:1px 1px 0 #7AD6BB,-1px 1px 0 #7AD6BB,1px -1px 0 #7AD6BB,-1px -1px 0 #7AD6BB;
          z-index: -1;
        }
      }
      @include im{
        font-size: 36*$spw;
      }
    }
    &-table{
      border-collapse: separate;
      border-spacing: 20*$pcw 0;
      line-height: 2;
      margin: 116*$pcw auto 0;
      tr{
        td:first-child{
          width:186*$pcw;
          border-top: 2*$pcw #7AD6BB solid;
          text-align: right;
          font-size: 20*$pcw;
          color: #7AD6BB;
          padding-right: 27*$pcw;
          @include im{
            font-size: 14*$spw;
            padding-right: 20*$spw;
            width: 40*$spw;
          }
        }
        td:last-child{
          width: 605*$pcw;
          border-top: 2*$pcw #454545 solid;
          padding: 37*$pcw 0;
          font-size: 20*$pcw;
          color: #454545;
          @include im{
            font-size: 14*$spw;
            width: 230*$spw;
          }
        }
      }
    }
  }
  .value{
    &-box{
      padding: 226*$pcw 0 130*$pcw;
      background-color: #262626;
      .title{
        text-align: center;
        color:#7AD6BB;
        font-size: 24*$pcw;
        font-family: objective-Regular;
        font-weight: bold;
        @include im{
          font-size: 35*$spw;
        }
      }
      .kodawari{
        width: 671*$pcw;
        font-size: 48*$pcw;
        color: #fff;
        line-height: 2;
        margin: 50*$pcw auto 0;
        @include im{
          font-size: 14*$spw;
        }
      }
    }
      #css-slider {
        width: 100%;
        height: 435*$pcw;
        background-color: gray;
      	overflow: hidden;
        .slider-wrapper {
          width: 2400*$pcw;
          position: relative;
          left: 0;
          will-change: transform;
          animation: slider 10s infinite;
          .slide-item {
            width: 800*$pcw;
            height: 435*$pcw;
            float: left;
            position: relative;
            display: block;
          }
          .first{
            background-color: #700;
          }
          .second{
            background-color: #070;
          }
          .third{
            background-color: #007;
          }
        }
        @keyframes slider {
          0% { transform: translateX(240*$pcw); }
          33% { transform: translateX(-560*$pcw); }
          66% { transform: translateX(-1340*$pcw); }
          100% { transform: translateX(240*$pcw); }
        }
      }
    &-info{
      width: 100%;
      height: 735*$pcw;
      bottom: 0;
      position: relative;
      background-image: url(../img/smapho2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      @include im{
        height: 450*$spw;
      }
      &::after{
        content: "";
        background-color: rgba( 0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 735*$pcw;
        @include im{
          height: 450*$spw;
        }
      }
      &-p{
        font-size: 20*$pcw;
        color: #fff;
        position: relative;
        width: 711*$pcw;
        top: 206*$pcw;
        left: 284*$pcw;
        line-height: 2;
        z-index: 1;
        @include im{
          font-size: 14*$spw;
          width: 325*$spw;
          top: 60*$spw;
          left: 0;
          margin: 0 auto;
        }
      }
    }
  }
  .footer{
    height: 346*$pcw;
    background-color: #7AD6BB;
  }
}
.fadein {
  opacity : 0;
  transform : translate(0, 100*$pcw);
  transition : all 1s;
}

.fadein.active{
  opacity : 1;
  transform : translate(0, 0);
}
